<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script> 

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
      <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>  
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>      


      <script id='auth.html' type='text/ng-template'>
      <ion-view view-title="Authorization Page">
        <ion-content class="padding">
        <h2 style="text-align: center;">Form validation example</h2><br/>
          <Form name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)">
            <div class="list">

              <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid }">
                <span class="input-label">User Name</span>
                <input type="text" name="username" ng-model="authorization.username" ng-minlength="5" ng-maxlength="20" required></input>  
              </label>
              <div class="error-container" ng-show="authorizationForm.username.$error" ng-messages="authorizationForm.username.$error">
                <div ng-messages-include="error-list.html"></div>
              </div>

              <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid && authorizationForm.$submitted}">
                <span class="input-label">Password</span>
                <input type="text" name="password" ng-model="authorization.password" ng-minlength="5" ng-maxlength="20" required></input>  
              </label>
              <div class="error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error && authorizationForm.$submitted">
                <div ng-messages-include="error-list.html"></div>
              </div>

            </div>

            <button class="button button-full button-positive" type="submit">Sign In
            </button>
          </Form>
        </ion-content>
      </ion-view>
      </script>

      <script id="home.html" type="text/ng-template">
        <ion-view view-title="Second page">
          <ion-content class="padding">
              <h1>Wellcome</h1>
          </ion-content>
        </ion-view>
      </script>   
   
      <script id="error-list.html" type="text/ng-template">  
        <div class="error" ng-message="required">
          <i class="ion-information-circled"></i> 
          This field is required!
        </div>
        <div class="error" ng-message="minlength">
          <i class="ion-information-circled"></i> 
          Minimum length of this field is 5 characters!
        </div>
        <div class="error" ng-message="maxlength">
          <i class="ion-information-circled"></i> 
          Maximum length of this field is 20 characters!
        </div>
      </script>

  </body>
</html>
